@{
    ViewData["Title"] = "Weather forecast";
}
@model string
@addTagHelper *, ASP9
<html>
<head>
    <title>
        @ViewData["Title"]
    </title>
</head>
<body>
    <div class="text-center">
        <vc:weather-info city="@Model"></vc:weather-info>
    </div>
</body>
</html>
